<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <mirrors>
		<mirror>
			<id>all_mirror</id>
			<name>Cisco and Public All</name>
			<url>http://engci-maven.cisco.com/artifactory/spvtg-group</url>
			<mirrorOf>*,!phisphere,!spvss,!central,!headend</mirrorOf>
		</mirror>
		<mirror>
			<id>spvss_mirror</id>
			<name>Cisco SPVSS</name>
			<url>http://engci-maven.cisco.com/artifactory/cisco-spvss-group</url>
			<mirrorOf>spvss</mirrorOf>
		</mirror>
        <mirror>
            <id>virtual_repo</id>
            <url>http://engci-maven.cisco.com/artifactory/phisphere-group/</url>
            <mirrorOf>phisphere</mirrorOf>
        </mirror>
        <mirror>
			<id>central_mirror</id>
			<name>Nexus Releases</name>
			<url>http://maven-proxy-bgl.cisco.com:8080/content/groups/public</url>
			<mirrorOf>central</mirrorOf>
		</mirror>
        <mirror>
			<id>headend_mirror</id>
			<url>http://engci-maven.cisco.com/artifactory/Headend-maven-group</url>
			<mirrorOf>headend</mirrorOf>
		</mirror>
    </mirrors>

	<profiles>
		<profile>
			<id>nexus</id>
			<!-- Enable snapshots for the built in central repo -->
			<repositories>
				<repository>
					<id>spvss</id>
					<url>http://bogus</url>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
					<snapshots>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
					</snapshots>
				</repository>
				<repository>
					<id>phisphere</id>
					<url>http://bogus</url>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
					<snapshots>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
					</snapshots>
				</repository>
				<repository>
					<id>headend</id>
					<url>http://bogus</url>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
					<snapshots>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
					</snapshots>
				</repository>
                <repository>
					<id>central</id>
					<url>http://bogus</url>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
					<snapshots>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
					</snapshots>
				</repository>
				<repository>
					<id>all</id>
					<url>http://bogus</url>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
					<snapshots>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
                <pluginRepository>
					<id>central</id>
					<url>http://bogus</url>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
					<snapshots>
						<enabled>false</enabled>
						<updatePolicy>always</updatePolicy>
					</snapshots>
				</pluginRepository>
				<pluginRepository>
					<id>spvss</id>
					<url>http://bogus</url>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
					<snapshots>
						<enabled>false</enabled>
						<updatePolicy>always</updatePolicy>
					</snapshots>
				</pluginRepository>
				<pluginRepository>
					<id>public</id>
					<url>http://bogus</url>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
					<snapshots>
						<enabled>false</enabled>
						<updatePolicy>always</updatePolicy>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>
	</profiles>
	<activeProfiles>
		<!-- make the nexus profile active all the time -->
		<activeProfile>nexus</activeProfile>
	</activeProfiles>

</settings>
